/* FOR COLORS: Can use color names, hexadecimal, & RGB */

/* Can target all elements by doing the following: 
    *{
    }
*/
    
 body{

    margin:0px;
    padding: 0px;
    border: 0px;
}

.mainContents{
    
margin: auto;
margin-bottom: 10px;
width: 100%;
position: relative;
}

.headerContainer{ /*<--- Selector */
    width:76%;
    background-color: rgba(61, 61, 61, 0.349);     /*  <-- Everything inside is a rule-set */
    margin:0 auto;
    

    

}   /* block in total is the decleration block */

 /*Everything in total is called a rule-set */



.button{
    background-color: rgb(80,114,148);
    color: white;
    padding: 10px 15px;
    border:none;
}

.clear{
    clear: both;
}

#break{
    display: block;
margin:0;
}

.headerContainer h1{
    color:rgb(52, 82, 111);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    
}


.headerContainer .navBox{
    background-color: rgba(173, 184, 188, 0.797);
    border-left: 5px rgba(100, 39, 39, 0.244) solid;
    border-right:5px rgb(100, 39, 39, 0.244) solid;
    border-top: 5px rgb(100, 39, 39, 0.244) solid;
    border-bottom: 5px rgb(100, 39, 39, 0.244) solid;
    /*There are different border types  such as dotted */
    /*Same as above:
    border: 5px red solid
    
    Can also change certain thigns such as:

    border-widtth:3px
    border-bottom-width:10px
    border-top-style:dotted;
    */

    text-align: center;
    margin: 25px auto;
    
    padding: 15px;

    border-radius: 15px;
    width: 80%;

    
}

div.sticky{
    position:sticky;
    top: 0;


}

.headerContainer .navBox a{
    
    margin-top: 5px;
    margin-bottom:5px;
    margin-right:10px;
    margin-left:10px;

    text-decoration: none;
    color: rgb(87, 35, 35);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 15px;



    /* Same as:
        margin: 5px 10 px 5 px 10 px;
               ^top right bottom left^
            or 
        margin: 5px 10px;
            top&bottom right&left
            */
}

#workTogether{
    display: block;
    margin: 10px auto;
    text-decoration: underline;
    font-weight: 550;
    width: 180px;
}


.headerContainer a:hover{
    background-color: rgba(128, 128, 128, 0.507);
    border-radius: 15px;
}

.headerContainer a:active{
    background-color: rgba(135, 196, 252, 0.468);
}

.headerContainer a:visited{
    text-decoration: none;
}



.mainContainer{
    width:76%;

    margin:0 auto;
    
    

    background-color:  rgb(184, 203, 210); 
    

}

.mainContainer h2{
    font-size: 25px;
    color:rgb(248, 249, 250);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-align: center;

    /* Cool font mods:

    text-transform: uppercase;
    font-style:italic;
    word-spacing: 1em;
    letter-spacing: 1em;
    */


}

.mainContainer p{
    
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal; /* font-weight controls the boldness */


    /* ** SAME AS ABOVE ** :
        font: normal 16px Arial, Helvetica, sans-serif; */

    line-height: 1.3em; /* line-height is the line between text */
    word-spacing: .1em;
}

.mainContainer h3{
    font-size: 20px;
    color:rgb(80,114,148);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-align: center;

}






.aboutMe{
    /*width: 600px; if you keep width to a px then the website will not be responsive , therefore set it to a percentage */
    width: 50%;
    margin:auto; /* margin:auto; splits the remaining space between the left and right margins equally */
    float:left;
    text-align: center;



}


.gradPic{
    width: 50%;
    

    float: right;
    text-align: center;
    
    margin: auto;
    margin-top: 15px;

    box-sizing: border-box;
    
    
}
#grad{
    
    height:auto;
    max-width: 50%;
}

.leftSideBar{
    float: left;
    width: 12%;
    top: 0px;
    bottom: 0px;

    background-color: rgb(52, 82, 111);
    position:absolute;
    
    
}

.rightSideBar{
    float: right;
    width: 12%;
    top: 0px;
    bottom: 0px;
    right: 0;
    background-color: rgb(52, 82, 111);
    position: absolute;
   
    
}

.skillsCategories{
    border:1.5px rgb(80, 114, 148) solid; 
    padding: 10px;
}

.skillsCategories h2{
    text-align: center;
}

.skillsCategories ul{
    list-style: square;
}

.skillsCategories li{
    padding-bottom: 8px;
    color: rgb(35, 62, 87);
    font-size: 18px;
    font-weight: 450;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 /* Can do: to have an image in turn of the style
    list-style-image: url('images/bluecheckmark.png');
    */

}

.skillsCategories h2{
    font-size: 25px;
    color:rgb(80,114,148);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-align: center;
}

.charBlock{
    float: left;
    width: 33.3%;
    border:1.5px rgb(80, 114, 148) solid; 
    padding: 5px;
    box-sizing: border-box;

}


.myForm{
    padding: 20px;
    border: 1px blanchedalmond solid;
}

.myForm .formGroup{
    padding-bottom: 10px;
    color: rgb(87, 35, 35);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

    font-size: 25px;
}

.myForm label{
    display:block;
}

.myForm input[type="text"], .myForm textarea, .myForm #email{
    padding: 8px;
    width: 40%;
}


#dunkinRef{
    color: rgb(87, 35, 35);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 15px;
    height: 200px;
    background-image: url('./Images/Dunkin-68.jpeg');
    object-position:center center;
}

